.register {
    background: #BBE6FD;
    grid-template-rows: 9% 82% 9%;
}

.rmapthreeform {
    grid-column: 4 / 10;
    grid-row: 2/2;
    z-index: 10;
    height: 630px;
    padding: 30px;
    background: white;
}
.rmapthreeform h1 {
    color: #57A4F5;
    width: 100%;
    text-align: center;
}
.rmapthreeform button {
    margin-bottom: 20px;
}
.registerform button {
    margin-top: 10px;
}


@media only screen and (max-width: 600px) {
    .rmapthreeform {
        grid-column: 2 /12;
    }
}

@media only screen and (min-width: 1024px) {
    .rmapthreeform {
        grid-column: 5 / 9;
    }
}
