.search-box {
    /* position: absolute; */
    width: 100%;
    border-bottom: 2px solid #919195;
}

.search-box:hover {
    border-bottom: 2px solid #b3007b; 
}

.search-box input {
    width: 80%;
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
    border: none;
}

.search-box a {
    font-size: 2em;
    float: right;
    padding-top: 10px;
}


@media only screen and (max-width: 600px) {
    .search-box input {
        font-size: 1em;
    }
    .search-box a {
        font-size: 1em;
    }
}