.footer {
    grid-column: 1/7;
    grid-row: 3/3;
    background: #861C58;
  }
  
  .footer p {
    display: inline-block;
    margin: 15px;
    color: white;
    
  }
  
  .right {
    float: right;
  }