.footer {
    grid-column: 1/7;
    grid-row: 3/3;
    background: #4762ad;
  }
  
  .footer p {
    display: inline-block;
    margin: 15px;
    color: #ffffff;
  }
  
  .right {
    float: right;
  }