.trip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-column-gap: 10px;
    /* background: aqua; */
}

.tripbanner {
    grid-column: 1/ span 3;
    height: 240px;
    background: #305BED;
    margin-bottom: 30px;
    color: white;
    display: grid;
    display: grid;
    grid-template-columns: auto 300px;
    padding: 30px;
}
.tripname {
    grid-column: 1/1;
    width: 100%;
    /* background: black; */
}
.tripname h1 {
    font-size: 5em;
}
.tripname h1 span {
    font-size: .5em;
}
.tripdates {
    grid-column: 2/2;
    /* background: green; */
}


.tripfeed {
    grid-column: 1 / span 2;
    margin: 0px 30px 30px 30px;
    /* background: yellow; */
}
.tripbar {
    grid-column: 3 / span 1;
    /* background: red; */
    margin-bottom: 30px;
    margin-right: 30px;
}

.tripbar button {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
    text-align: left;
    font-size: .75em;
}


@media only screen and (max-width: 690px) {
    .tripname {
        grid-column: 1/ span 2;
        grid-row: 1/1;
    }
    .tripname h1 {
        font-size: 2em;
        display: inline-block;
    }
    .tripname a {
        float: right;
    }
    .tripdates {
        grid-column: 1/ span 2;
        grid-row: 2/2
    }
}

@media only screen and (max-width: 600px) {
    .tripfeed {
        grid-column: 1 / span 3;
        grid-row: 3/3;
    }
    .tripbar {
        grid-column: 1 / span 3;
        grid-row: 2/2;  
    }
}