@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Share:400,700);

* {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

textarea, select, input, button { 
  outline: none; 
}

/* H Styles */
  h1 {
    font-family: 'Share', cursive;
    font-size: 3em;
  }

  h2 {
    font-family: 'Share', cursive;
    font-size: 2em
  }

  h3 {
    text-transform: uppercase;
    font-size: 1.2em;
  }

  i {
    margin: 0px 5px 0px 0px
  }



/* Link styles */
  a:link, a:visited {
    text-decoration: none;
    color: #305BED;
  }

  a:hover {
    color: #B3007B;
  }

  a:active {
    color: #9E0066
  }

  /* Link styles for dark backgrounds */
  a.drk:link, a.drk:visited {
    color: #fff;
  }

  a.drk:hover {
    color: #BBE6FD;
  }

  a.drk:active {
    color: #fff;
  }

/* Button styles */
  button {
    height: 36px;
    font-size: 1em;
    text-transform: uppercase;
    padding: 0px 15px 0px 15px;
    width: 100%;
    border: 2px solid #B3007B;
    color: #fff;
    background: #B3007B;
    cursor: pointer;
    transition: all 0.3s;
  }

  button:hover {
    border: 2px solid #C7009A;
    background: #C7009A;
  }

  button:active {
    background: #9E0066;
    border: 2px solid #9E0066;
  }


  /* Button styles for ghost buttons */
  button.ghost {
    background: #fff;
    color: #B3007B;
  }

  button.ghost:hover {
    background: #C7009A;
    color: #fff;
  }

  button.ghost:active {
    background: #9E0066;
    color: #ffffff;
  }


  /* Button Styles for dark background */
  button.drk {
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #870056;
  }

  button.drk:hover {
    background: #ffffff;
    color: #870056;
  }

  button.drk:active {
    background: #ffffff;
    color: #C7009A;
  }

/* Input styles */

  textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border: 1px solid #d7d7d7; 
  }

  textarea:hover {
    border: 1px solid #C7009A; 
  }

  textarea:focus {
    border: 1px solid #9E0066; 
  }

  select {
    margin-left: 10px;
  }
  
  .checkbox input {
    margin-right: 10px;
  }

  /* Float label */

  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
    margin-top: 40px;
  }
  .form-control {
    display: block;
    padding: .5rem .75rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #919195; 
  }
  .form-control:hover {
    border-bottom: 1px solid #C7009A;
  }
  .form-control:focus {
    border-bottom: 1px solid #9E0066;
  }
  .form-control-placeholder {
    position: absolute;
    /* color: #57A4F5; */
    top: 0;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.7;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
    color: #9E0066;
 
  }


  /* Styles for event forms */

  .wrap-form {
    grid-column: 1/13;
    background: #f5f5f5;
  }
  .formtop {
      grid-column: 1/13;
      padding: 60px;
      background: #57A4F5;  

  }

  .formtop input {
      background: #57A4F5;
      color: #ffffff;
  }

  .formtop .search-box {
      border-bottom: 2px solid #305BED;
  }

  .formtop .search-box:hover {
      border-bottom: 2px solid #ffffff;
  }

  .formtop .search-box:hover {
      border-bottom: 2px solid #ffffff;
  }

  .formtop ::placeholder {
      color: #305BED;
  }

  .formtop:hover ::placeholder {
      color: #ffffff;
  }

  .formtop .search-btn {
      color: #BBE6FD;
  }

  .formtop .search-btn:hover {
      color: #ffffff;
  }

  .formbottom {
      grid-column: 2/12;
      /* background: #f5f5f5; */
      padding: 30px 30px 30px 30px;
  }
  .blue {
    color: #57A4F5;
  }
  .grey {
    color: #565656;
  }

  .formbottom button {
    margin-top: 30px;
  }

  .formsection {
    display: block;
    margin-bottom: 10px;
    margin-top: 45px;
  }

  .formselect {
    width: 100%;
    margin: 15px 0px 0px 0px;
  }
  .reginput {
    margin-left: 10px;
    border: none;
  }
  
  .spaceright {
    margin-right: 10px;
  }
  .spaceleft {
    margin-left: 10px;
  }

  .inputstyle {
    padding: 6px;
    height: 48px;
    width: auto;

    line-height: 1.5;
    border-bottom: 1px solid #d9d9d9;
    font-size: 19px;
  }
  .inputstyle:hover {
    border-bottom: 1px solid #C7009A;
  }
  .inputstyle:focus {
    border-bottom: 1px solid #9E0066;
  }

  .inputstyle ::placeholder {
    color: #484848;
    font-size: 19px;
  }

  .inline {
    display: inline-block;
    width: 100%;
  }
  .inlineblock {
    display: inline-block;
  }

  .inline .checkbox {
    display: inline;
    margin-left: 30px;
  }

  .break {
    display: block;
    margin-bottom: 5px;
  }

  



@media only screen and (max-width: 600px) {
    .formtop {
      padding: 45px; 
  }
  .formbottom {
    grid-column: 1/13;
    background: white;
    padding: 30px 30px 30px 30px;
}
}