@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Share:400,700);

* {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

textarea, select, input, button { 
  outline: none; 
}

/* H1 Styles */
h1 {
  font-family: 'Share', cursive;
  font-size: 3em;
}

h2 {
  font-family: 'Share', cursive;
  font-size: 2em
}

h3 {
  text-transform: uppercase;
  font-size: 1.2em;
}

i {
  margin: 0px 5px 0px 0px
}


/* Link styles */
a:link, a:visited {
  text-decoration: none;
  color: #305BED;
}

  a:hover {
    color: #B3007B;
  }

  a:active {
    color: #9E0066
  }

/* Link styles for dark backgrounds */
a.drk:link, a.drk:visited {
  color: #fff;
}

  a.drk:hover {
    color: #BBE6FD;
  }

  a.drk:active {
    color: #fff;
  }

/* Button styles */
button {
  height: 36px;
  font-size: 1em;
  text-transform: uppercase;
  padding: 0px 15px 0px 15px;
  margin: 15px;
  border: 2px solid #B3007B;
  color: #fff;
  background: #B3007B;
  cursor: pointer;
  transition: all 0.3s;
}

  button:hover {
    border: 2px solid #C7009A;
    background: #C7009A;
  }

  button:active {
    background: #9E0066;
    border: 2px solid #9E0066;
  }


/* Button styles for ghost buttons */
button.ghost {
  background: #fff;
  color: #B3007B;
}

button.ghost:hover {
  background: #C7009A;
  color: #fff;
}

button.ghost:active {
  background: #9E0066;
  color: #ffffff;
}


/* Button Styles for dark background */
button.drk {
  border: 2px solid #ffffff;
  color: #ffffff;
  background: #870056;
}

  button.drk:hover {
    background: #ffffff;
    color: #870056;
  }

  button.drk:active {
    background: #ffffff;
    color: #C7009A;
  }