.userdata h1 span {
    font-size: .5em;
}
.userdata p {
    margin-bottom: 30px;
}

.triplist {
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    background: #4762ad;
    color: white;
    display: grid;
    grid-template-columns: auto 303px;
    grid-template-rows: auto auto 36px;
}
.triplist h1 span {
    font-size: .5em;
}
.triptitle {
    grid-column: 1 / span 1;
    grid-row: 1/ span 2;
}
.tripbutton {
    grid-column: 1 / span 1;
    grid-row: 3/3;
    display: table-cell;
    vertical-align: bottom;
    /* background: blue; */
}
.tripdates {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
}


@media only screen and (max-width: 900px) {
    .triptitle {
        grid-column: 1 / span 2;
        grid-row: 1/1
    }
    .tripdates {
        grid-column: 1 / span 2;
        grid-row: 2/2;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .tripbutton {
        grid-column: 1 / span 2;
        grid-row: 3/3;
    }
}


@media only screen and (max-width: 668px) {

    .triplist {
        padding: 10px;
        margin-bottom: 2px;
    }
    .tripbutton {
        width: 92%;
    }
}
